<carousel>
    <slide>
        <video width="560" height="240" controls>
    <source src="https://firebasestorage.googleapis.com/v0/b/prueba-2c142.appspot.com/o/videos%2FWhatsApp%20Video%202019-06-09%20at%2011.44.51%20AM.mp4?alt=media&token=fc2f51ff-09a2-4717-b069-f9a2fa48647e" type="video/mp4">
</video>
    </slide>
    <slide>
        <video width="560" height="240">
            <source src="https://firebasestorage.googleapis.com/v0/b/prueba-2c142.appspot.com/o/videos%2FWhatsApp%20Video%202019-06-09%20at%2011.44.51%20AM.mp4?alt=media&token=fc2f51ff-09a2-4717-b069-f9a2fa48647e" type="video/mp4">
        </video>
    </slide>
    <slide>
        <video width="560" height="240">
            <source src="https://firebasestorage.googleapis.com/v0/b/prueba-2c142.appspot.com/o/videos%2FWhatsApp%20Video%202019-06-09%20at%2011.44.51%20AM.mp4?alt=media&token=fc2f51ff-09a2-4717-b069-f9a2fa48647e" type="video/mp4">
        </video>
    </slide>
</carousel>